body {
  background: rgb(250, 249, 238);
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

.bg-steel {
  background-color: #f7a8c6;
  box-shadow: 8px 8px 8px #ebd5de;
}

.site-header .navbar-nav .nav-link {
  color: #020405;
}


.site-header .navbar-nav .nav-link:hover {
  color: #080606;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 3px #f1d8e2;
}

.article-title {
  color: #020203;
}

a.article-title:hover {
  color: #eb89d6;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 35px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: rgb(232, 6, 6);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

